@charset "UTF-8";

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1463734944_0609305.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1463734944_0609305.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1463734944_0609305.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1463734944_0609305.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1463734944_0609305.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: 'iconfont';
    
}