$spriteSrc:'sprite.png';
$icon-chujing: 0px 0px 0px 0px 185px 84px 565px 351px $spriteSrc;
$icon-chujing_cur: 0px 89px 0px -89px 185px 84px 565px 351px $spriteSrc;
$icon-guonei: 190px 0px -190px 0px 185px 84px 565px 351px $spriteSrc;
$icon-guonei_cur: 190px 89px -190px -89px 185px 84px 565px 351px $spriteSrc;
$icon-haidao: 0px 178px 0px -178px 185px 84px 565px 351px $spriteSrc;
$icon-haidao_cur: 190px 178px -190px -178px 185px 84px 565px 351px $spriteSrc;
$icon-youlun: 0px 267px 0px -267px 185px 84px 565px 351px $spriteSrc;
$icon-youlun_cur: 190px 267px -190px -267px 185px 84px 565px 351px $spriteSrc;
$icon-zhoubian: 380px 0px -380px 0px 185px 84px 565px 351px $spriteSrc;
$icon-zhoubian_cur: 380px 89px -380px -89px 185px 84px 565px 351px $spriteSrc;
