@charset "UTF-8";

// UI 颜色定义
$color-default: #2e9900;
$color-default-hover: #3bb009;

$color-primary: #fc893d;
$color-primary-hover: #ff9933;

$color-disabled: #aaa;

$color-error: #f23030;
$color-wran: #f60;

$color-border: #ccc;
$color-border-disabled: #ddd;

$color-text-default: #666;
$color-text-primary: #333;
$color-text-info: #999;
$color-text-hover: #f80;

$color-black: #000;
